h1, h3, p {
  text-align: center;
  color:#F33E80;
}
input, button {
  display:inline-block;
}

#input_holder {
  width: 215px;
  margin: 0 auto;
}

#feedback {
  height: 50px;
}

#guess_counter{
  font-style: oblique;
}
